<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div style="display: flex; justify-content: space-between;">
        <div style="padding-top: 10px;">
          <ion-label>My Library</ion-label>
        </div>
        <div>
          <ion-button (click)="onAddBookPage()">Add book</ion-button>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let book of books; let i = index">
        <ion-label>{{book.ISBN}} {{book.Book}} {{book.Author}} {{book.Publisher}} {{book.Year}}</ion-label>
        <ion-button (click)="deleteBook(i)">Delete book</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
